:root {
  --primary-color: #1B1A55;
  --secondary-color: #15F5BA;
  --text-color: #F0F3FF;
  --text-alt-color: #1f1f1f;
  --paragraph-color: #7077A1;
}



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--primary-color);
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding-block: 80px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: var(--secondary-color);
}

.special-heading {
  text-align: left;
  text-transform: capitalize;
  color: var(--text-alt-color);
  position: relative;
  margin-bottom: 20px;
}

.special-heading::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  border-radius: 10px;
  width: calc(100% - 520px);
  background-color: #1f1f1f;
}

@media screen and (max-width:700px) {
  .special-heading {
    text-align: center;
  }

  .special-heading::after {
    display: none;
  }
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: clamp(1rem, 3vw, 1.1rem);
}

@media screen and (max-width:350px) {
  nav {
    padding-inline: 0;
  }
}

.nav__logo {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: var(--text-color);
}

.nav__logo span {
  color: var(--secondary-color);
}

.nav__list {
  display: flex;
  gap: 10px;
}

.nav__link {
  color: var(--text-color);
  transition: .3s ease;
}

.nav__link:hover,
.nav__link.active {
  color: var(--secondary-color);
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  color: var(--text-color);
  justify-content: center;
  position: relative
}

.hero__content {
  text-align: center;
  transform: translateY(-100px);
}

@media screen and (max-width:550px) {
  .hero {
    height: 75vh
  }

  .hero__content {
    transform: translateY(-35px);
  }
}

.hero p {
  font-size: clamp(.8rem, 5vw, 1.5rem);
}

.hero h1 {
  font-size: clamp(1.5rem, 8vw, 3rem);
  color: var(--secondary-color);
}

.hero h2 {
  font-size: clamp(1rem, 6vw, 2.5rem);
}

.hero button {
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 5px;
  transition: .3s ease;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin-top: 12px;
}

.hero button:hover {
  background-color: var(--secondary-color);
  color: var(--text-alt-color);
}

.wave {
  position: absolute;
  width: 100%;
}

.hero__wave {
  bottom: -10px;
}


/* Projects */
.projects {
  background-color: var(--text-color);

}


.projects__page__title {
  text-align: center;
  color: var(--text-color);
  max-width: 500px;
  margin-inline: auto;
  margin-block: 20px;
}

.projects__page__title h2 {
  font-size: clamp(1.2rem, 8vw, 2rem);
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  ;
}

.projects__page__title p {
  margin-top: 10px;
  font-size: clamp(.8rem, 3vw, 1.2rem);
}

.projects__cards__group {
  display: flex;
  flex-wrap: wrap;
}

.project__card {
  width: calc(100% / 3);
  padding: 10px;
}

@media screen and (max-width:840px) {
  .project__card {
    width: calc(100% / 2);
  }
}

@media screen and (max-width:580px) {
  .project__card {
    width: 100%;
  }
}

.project__card__title {
  color: var(--text-alt-color)
}

.project__card__image {
  border: 3px solid var(--text-alt-color);
  border-radius: 15px;
  padding: 5px;
  transition: .3s ease;
  height: 240px;
}

.projects__page .project__card__image {
  border-color: var(--text-color);
}

.project__card__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.project__card__image:hover {
  transform: translateY(-10px);
  border-color: var(--secondary-color);
}

.project__card__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project__card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 1.1rem;
}

.projects__page .project__card__title {
  color: var(--text-color);
}

.project__card__links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.project__card__links a {
  color: var(--text-alt-color);
  font-size: 1.2rem;
}

.projects__page .project__card__links a {
  color: var(--text-color);
}

.project__card__description {
  color: var(--paragraph-color);
  line-height: 1.2;
}

.project__card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project__card__tag {
  background-color: #4CB9E7;
  color: var(--text-alt-color);
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: .8rem;
  cursor: default;
}

.projects__view__more {
  background-color: transparent;
  border: 2px solid var(--text-alt-color);
  border-radius: 10px;
  display: block;
  margin: auto;
  width: fit-content;
  text-align: center;
  padding: 5px 10px;
  color: var(--text-alt-color);
  transition: .3s ease;
  font-size: 1.2rem;
}

.projects__view__more:hover {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--text-alt-color);
}

.projects__page__more {
  color: var(--text-color);
  margin: 20px auto;
  width: fit-content;
  font-style: italic;
}

.projects__page__more a {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* Skills */

.skills__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.skills h2 {
  display: flex;
  gap: 10px;
  color: var(--secondary-color);
  text-transform: capitalize;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.skills .stars i {
  color: #FFB534;
}

.skills .stars {
  position: relative;
}

.skills .stars i {
  position: absolute;
}

.skills .stars i:first-child {
  transform: rotate(-25deg);
}

.skills .stars i:last-child {
  transform: rotate(25deg);
  font-size: 12px;
  left: 25px;
  top: -10px
}

.skills__card__group {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  row-gap: 20px;
  column-gap: 10px;
  width: fit-content;

}

@media screen and (max-width:720px) {
  .skills__card__group {
    grid-template-columns: repeat(3, 100px);
  }
}

@media screen and (max-width:360px) {
  .skills__card__group {
    grid-template-columns: repeat(1, 100px);
  }
}

.skill__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F0F3FF;
}

.skill__card img {
  max-width: 40px;
}

.contact {
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  width: clamp(200px, 50%, 300px);
  height: 5px;
  border-radius: 10px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-color);
}


.contact__content {
  color: var(--text-color);
  text-align: center;
}

.contact__content h2 {
  font-size: clamp(1.2rem, 5vw, 2rem);
}

.contact__content a {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  padding: 5px 10px;
  border-radius: 10px;
  display: block;
  width: fit-content;
  margin: 20px auto;
  font-size: clamp(1rem, 5vw, 1.2rem);
  transition: .3s ease;
}

.contact__content a:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

/* Footer */

footer {
  border-top: 1px solid #242266;
}

.footer__logo {
  color: var(--text-color);
}

.footer__logo span {
  color: var(--secondary-color);
}

.footer__links {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

@media screen and (max-width:507px) {
  .footer__logo {
    display: none;
  }
}

.footer__pages__title {
  color: var(--paragraph-color);
  margin-bottom: 10px;
}

.footer__pages__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__pages__links a {
  color: var(--text-color);
}


.footer__social__title {
  color: var(--paragraph-color);
  margin-bottom: 10px;
}

.footer__social__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__social__links a {
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__text {
  border-top: 1px solid var(--text-color);
  text-align: center;
  padding: 20px;
  color: var(--text-color);
}